@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  color-scheme: dark;
}

.safe-px{
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
.safe-pt{
  padding-top: env(safe-area-inset-top);
}
.safe-pb{
  padding-bottom: env(safe-area-inset-bottom);
}
